mixin section-map
	section.section-map#section-map
		#map
			<script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aafc07d3f4ccccd468a2deb6b812910f01139dbf9d93a3667eab9a371047a050c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
