mixin section-contacts
	
	section.section-contacts#section-contacts
		.container       
			h2.title Контакты
			ul.contacts
				li.contacts__item.contacts__item--address г.Новосибирск, ул.Советская, д.25                
				li.contacts__item.contacts__item--time с 9-00 до 19-00 без выходных
				li.contacts__item.contacts__item--phone +7 (965) 585 00 88
  
							