mixin section-first-screen
	.section-wrap
	
		section.section-first-screen#section-first-screen
			+header 
			.container       
				.section-first-screen__wrap
					h1.section-first-screen__title Магазин развивающих игрушек 		
				
		section.section-info#section-info
			.container       
				ul.info
					li.info__item.info__item--since Работаем с 2014 г. 
					li.info__item.info__item--assortment Более 1000 товаров  
					li.info__item.info__item--sales Скидки и акции                              
				