mixin section-about
	
	section.section-about#section-about
		.container       
			h2.title О нас
			p Добро пожаловать на сайт нашего магазина! Мы предлагаем настольные и развивающие игры, головоломки, товары для творчества, конструкторы, а также множество других товаров. Уже более 15 лет товары магазина "Вундеркинд" радуют маленьких умников и умниц и удивляют родителей – ведь о таких игрушках взрослые в детстве могли только мечтать! Приходите, мы всегда рады вас видеть!
							