mixin section-news
	
	.section-news#section-news    
		.container  
			h2.title Новинки!     
			ul.news
				each item in data.news
					li.news__item
						.news__img(style="background-image:url(images/"+ item.img + ")")
						.news__container
							.news__title= item.title
							.news__descr= item.descr
