mixin nav
  nav.navigation
    ul.navigation__list#nav
      li.navigation__item: a(href="#section-form") Подать заявку
      li.navigation__item: a(href="#section-clients")  Клиенты
      li.navigation__item: a(href="#section-value")  Зависимость цены
      li.navigation__item.navigation__item-link: a(href="#callback") 
        span Заказать звонок
      li.navigation__item.navigation__item-phone 8 800 500 50 50


