mixin header
	header.header
		.container.header__navigation
			.header__logo.logo
				.logo__text Вундеркинд
			
			.header__info
				.info-block.info-block--address
					h3 Наш адрес
					p г. Новосибирск, ул. Советская, д. 25
				.info-block.info-block--phone
					h3 Звоните
					p +7 (965) 585 00 88