mixin section-sales
	
	.section-sales#section-sales    
		.container  
			h2.title Бонусы     
			ul.sales
				li.sales__item
					img.sales__img(src="images/card.jpg", alt="Дисконтная карта")
					.sales__text
						h3.sales__title Уважаемые покупатели! В магазинах "Вундеркинд" действует балльная система накопления. Начисление баллов осуществляется на вашу дисконтную карту. 
						h4.sales__subtitle Начисление баллов:
						p.sales__text за каждые 15 рублей в чеке на вашу карту начисляется 1 балл. 1 балл = 1 рубль
						p.sales__text Дисконтная карта продается за 1 руб. Рассчитаться дисконтной картой можно во всех магазинах "Вундеркинд" при ее предъявлении или подтверждении при заказе в интернет-магазине! 

